{% extends 'dramatiq_dashboard/base.html' %}
{% load getattr %}
{% block main %}
    <div class="mb-3">
        <a href="{% url 'django_dramatiq_dashboard:task_archive' %}">Archive</a> > <a
            href="{% url 'django_dramatiq_dashboard:task_year_archive' month.year %}"> {{ month.year }}</a> >
        <a href="{% url 'django_dramatiq_dashboard:task_month_archive' month.year month.month %}"> {{ month.month }}</a>
        >
        <a href="#"> </a>
    </div>
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
            <tr>
                <th>Task ID</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for article in object_list %}
                <tr>
                    <td><a href="{% url 'django_dramatiq_dashboard:executed_detail' article.id %}">{{ article.id }}</a>
                    </td>
                    <td>
                        {{ article|getattr:view.get_date_field|date:"F j, Y" }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="display: flex; justify-content: space-between;">
        {% if previous_month %}
            <a href="{% url 'django_dramatiq_dashboard:task_month_archive' previous_month.year previous_month.month %}"
               class="btn btn-secondary">
                Previous Month: <span>{{ previous_month|date:"F Y" }}</span>
            </a>
        {% endif %}
        {% if next_month %}
            <a href="{% url 'django_dramatiq_dashboard:task_month_archive' next_month.year next_month.month %}"
               class="btn" style="background-color: #333; color: white;">
                Next Month: <span>{{ next_month|date:"F Y" }}</span>
            </a>
        {% endif %}
    </div>
{% endblock %}
