{% extends 'dramatiq_dashboard/base.html' %}

{% block main %}
    <div class="mb-3">
        <a href="{% url 'django_dramatiq_dashboard:executed_list' %}">All tasks</a> >
    </div>
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
            </thead>
            <tbody>
            {% for task in object_list %}
                <tr>
                    <td><a href="{% url 'django_dramatiq_dashboard:executed_detail' task.id %}">{{ task.id }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>{{ task.updated_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}